{
  "type": "service_account",
  "project_id": "PROJECTID",
  "private_key_id": "PRIVATEKEYID",
  "private_key": "PRIVATEKEY",
  "client_email": "CLIENTEMAIL",
  "client_id": "CLIENTID",
  "auth_uri": "AUTHURI",
  "token_uri": "TOKENURI",
  "auth_provider_x509_cert_url": "AUTHPROVIDER",
  "client_x509_cert_url": "CLIENTCERT"
}
